extends layout

block content
  .jumbotron.jumbotron1
    h1.display-5.jumbotron-title.jumbotron-title1 Blank Web Site
    h2.display-5.jumbotron-title.jumbotron-title1 It's very empty!
    p.lead.
      Put something here
    a.btn.jumbotron-button(href='/readMore') Read More
  div.container.marketing
    div.row.featurette
      div.col-md-7
        h2.featurette-heading.featurette-heading1 A Feature
        p.lead.
          more stuff!
      div.col-md-5
        img.featurette-image.img-fluid.mx-auto(src="img/BlinkyLogo.png")
    hr.featurette-divider
  
