extends layout
block content
  .jumbotron.jumbotron1
    h1.jumbotron-title.jumbotron-title1 Blinky-Lite Extra Info
    h2.jumbotron-title.jumbotron-title1 More Stuff
    p.lead More info
  .container
    .row
      .col-md.bot-pad
        .card.card1
          img(src='img/BlinkyLogo.png', height='180px')
          p.card-title.card1-title A Card
          .card-body.card1-body
            p.card1-text
              | Card text!
            button.btn.card-button.card1-button(type='button', onclick="myFunction()") Alert
    script.
     function myFunction()
     {
       alert('Hello world!');
     }
